################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/amazon_clone/FileContentIndex
/.vs/amazon_clone/v17
