################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/amazon_clone/FileContentIndex
/.vs/amazon_clone/v17
/.vs/backend/config
/.vs/backend/DesignTimeBuild
/.vs/backend/FileContentIndex
/.vs/backend/v17
/.vs/ProjectEvaluation
/.vs
/backend/bin/Debug/net8.0
/backend/logs
