@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --surface-0: #ffffff;
  --surface-1: #e0e0e0;
  --surface-2: #d3d3d3;
  --surface-3: #666666;
  --surface-10: #000000;


  --text-1: #666666;

  --interactive-1: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-layout-xs: 480px;
  --breakpoint-layout-sm: 992px;

  --color-surface-0: var(--surface-0);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-surface-10: var(--surface-10);


  --color-interactive-1: var(--interactive-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.header-padding {
  @apply px-[23px] layout-sm:px-[42px];
}
.header-gap {
  @apply layout-sm:gap-[45px];
}
