@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --surface-0: #ffffff;
  --surface-1: #e0e0e0;
  --surface-2: #d3d3d3;
  --surface-3: #666666;
  --surface-4: #565959;
  --surface-10: #000000;

  --text-1: #666666;
  --interactive-1: #666666;

  --color-1: #d4d8c2;
  --color-2: #202328;
  --color-3: #10141c;
  --color-4: #485b62;
  --color-5: #81a9ab;
  --color-6: #304149;
  --color-7: #000000;
  --color-8: #666666;
  --color-9: #d9d9d9;
  --color-10: #d5d9d9;
  --color-11: #888c8c;
  --color-12: #4c7dff;
  --color-13: #afcbff;
  --color-14: #1f2636;
  --color-15: #E6ECF5;

  --border-1: #2f3a52;
  --color-page-default: #f0f0f0;
}

@theme inline {
  --color-page-default: var(--color-page-default);

  --color-border-default: var(--color-10);
  --color-border-muted: var(--color-11);

  --color-default: var(--color-7);
  --color-light: var(--color-1);
  --color-dark: var(--color-1);
  --color-muted: var(--color-8);
  --color-accent: var(--color-12);

  /* bg */
  --color-surface-default: var(--color-1);
  --color-surface-light: var(--color-1);
  --color-surface-dark: var(--color-3);
  --color-surface-muted: var(--color-2);

  --color-surface-card: var(--surface-0);

  --color-surface-accent: var(--color-12);
  --color-surface-accent-muted: var(--color-13);

  /* icon */
  --color-icon-surface-light: var(--color-1);

  /* all inputs */
  --color-input-surface-default: var(--color-15); 
  --color-input-placeholder-default: var(--color-1);

  /* header */
  --color-input-header-surface: var(--color-6);
  --color-button-header-dark: var(--color-4);
  --color-button-header-light: var(--color-5);

  /* button */
  --color-button-default: var(--color-1);
  --color-button-muted: var(--color-9);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-layout-xs: 480px;
  --breakpoint-layout-sm: 992px;

  --breakpoint-layout-product-xs: 620px;
  --breakpoint-layout-product-sm: 720px;
  --breakpoint-layout-product-md: 830px;
  --breakpoint-layout-product-lg: 1080px;

  --breakpoint-layout-account-xs: 480px;
  --breakpoint-layout-account-sm: 680px;

  --color-surface-0: var(--surface-0);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-surface-4: var(--surface-4);
  --color-surface-10: var(--surface-10);

  --color-card-default: var(--color-14);
  --color-card-border: var(--border-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.header-padding {
  @apply px-[23px] layout-sm:px-[42px];
}
.header-gap {
  @apply layout-sm:gap-[45px];
}

.layout-px {
  @apply px-[23px] layout-sm:px-[42px];
}
.layout-mx {
  @apply mx-[23px] layout-sm:mx-[42px];
}
.layout-pl {
  @apply px-[23px] layout-sm:px-[42px];
}

@layer utilities {
  .border-card {
    @apply border border-border-default;
  }
  .border-interactive {
    @apply border border-border-muted;
  }
  .text-small-default {
    @apply text-[11.5px] text-surface-4;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .layout-product-px {
    @apply px-[23px] layout-sm:px-[42px];
  }
  .layout-product-mx {
    @apply mx-[23px] layout-sm:mx-[42px];
  }
  .layout-product-pl {
    @apply px-[23px] layout-sm:px-[42px];
  }
  .layout-product-product-hidden {
    @apply block layout-product-xs:hidden layout-product-lg:block;
  }
}

@layer components {
  .btn-pill {
    @apply w-[87px] h-[29px] rounded-[25px] text-black text-[13px] leading-[20px] flex items-center justify-center;
  }
  .text-title-md {
    @apply text-[24px] leading-[32px] font-bold;
  }
  .text-title-sm {
    @apply text-[19px] leading-[27px] font-bold;
  }
  .text-section-title {
    @apply font-normal text-[20px] leading-[100%] align-middle;
  }
  .text-body {
    @apply text-[13px] leading-[20px] align-middle;
  }
  .text-title {
    @apply font-bold text-[13px] leading-[20px] align-middle;
  }
  .text-meta {
    @apply text-[12px] leading-[19px] align-middle;
  }
  .card-default {
    @apply bg-card-default rounded-[15px] border border-card-border;   
  }
}
